<footer class="bg-light text-center py-4 mt-5 shadow-sm">
  <div class="container">
      <p class="mb-0">© 2024 Người thiết kế website</p>
      <p>Liên hệ: <a href="mailto:email@example.com">email@example.com</a></p>
  </div>
</footer>
